In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# upload csv into data frame
netflix_data = pd.read_csv("Netflix/titles.csv")
netflix_data.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0,27.612,8.2
2,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0,18.216,7.8
3,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0,17.505,7.8
4,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0,95.337,7.7

In [89]:
total_programs = len(netflix_data)
print(f"There are {total_programs} movies and shows in this dataset...")

There are 5806 movies and shows in this dataset...

In [31]:
# create data frame containing only programs wich contain crime in their list of genres
crime_netflix = netflix_data[netflix_data['genres'].str.contains('crime')]
crime_netflix.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0,27.612,8.2
6,tm14873,Dirty Harry,MOVIE,When a madman dubbed 'Scorpio' terrorizes San ...,1971,R,102,"['thriller', 'crime', 'action']",['US'],NaN,tt0066999,7.7,153463.0,14.745,7.5
9,tm119281,Bonnie and Clyde,MOVIE,"In the 1930s, bored waitress Bonnie Parker fal...",1967,R,110,"['drama', 'crime', 'action']",['US'],NaN,tt0061418,7.7,111189.0,15.309,7.5
14,tm96649,The Long Riders,MOVIE,"The origins, exploits and the ultimate fate of...",1980,R,99,"['western', 'crime']",['US'],NaN,tt0081071,6.9,11329.0,8.808,6.6
16,tm135083,Cairo Station,MOVIE,"Qinawi, a physically challenged peddler who ma...",1958,NaN,77,"['drama', 'crime', 'comedy']",['EG'],NaN,tt0051390,7.5,4385.0,3.556,7.4

In [85]:
# genre distribution of all netflix programs
genre_counts = netflix_data.groupby(['genres']).count()['title']
genre_counts = genre_counts.sort_values(ascending=False)
genre_counts.head(25)

genres
['comedy']                        510
['drama']                         350
['documentation']                 320
['comedy', 'drama']               141
['drama', 'comedy']               128
['reality']                       120
['drama', 'romance']              112
['comedy', 'documentation']        93
['animation']                      69
[]                                 67
['comedy', 'romance']              63
['comedy', 'drama', 'romance']     60
['crime', 'documentation']         56
['romance', 'drama']               55
['drama', 'comedy', 'romance']     54
['romance', 'comedy']              47
['drama', 'european']              46
['documentation', 'music']         45
['drama', 'thriller']              43
['drama', 'crime']                 42
['romance', 'comedy', 'drama']     42
['thriller']                       40
['comedy', 'european']             35
['documentation', 'sport']         35
['thriller', 'crime', 'drama']     32
Name: title, dtype: int64

In [95]:
# check length of full data frame (how many titles are included in the set of crime programs)
print(f"There are {len(crime_netflix)} programs on netflix which would fall into the genre of crime.")

There are 891 programs on netflix which would fall into the genre of crime.

In [35]:
# check to see if there will be blanks in data frame (compare to length of entire DataFrame)
crime_netflix.count()

id                      891
title                   891
type                    891
description             891
release_year            891
age_certification       588
runtime                 891
genres                  891
production_countries    891
seasons                 367
imdb_id                 878
imdb_score              872
imdb_votes              872
tmdb_popularity         884
tmdb_score              871
dtype: int64

In [79]:
# sort all programs by their IMDB rating
crime_rating_sort = crime_netflix.sort_values(['imdb_score'],ascending = False)
crime_rating_sort.head(10)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
243,ts4,Breaking Bad,SHOW,"When Walter White, a New Mexico chemistry teac...",2008,TV-MA,48,"['drama', 'thriller', 'crime']",['US'],5.0,tt0903747,9.5,1727694.0,337.419,8.8
270,ts11313,DEATH NOTE,SHOW,Light Yagami is an ace student with great pros...,2006,TV-14,24,"['scifi', 'animation', 'crime', 'drama', 'fant...",['JP'],1.0,tt0877057,9.0,302147.0,104.037,8.7
717,ts32835,Hunter x Hunter,SHOW,Twelve-year-old Gon Freecss one day discovers ...,2011,TV-14,23,"['drama', 'action', 'comedy', 'crime', 'animat...",['JP'],3.0,tt2098220,9.0,87857.0,117.924,8.8
205,ts28516,Okupas,SHOW,"During the year 2000, Ricardo, Pollo, Walter a...",2000,TV-MA,40,"['crime', 'drama']",['AR'],1.0,tt0289649,9.0,2326.0,6.971,8.8
3250,ts82913,When They See Us,SHOW,Five teens from Harlem become trapped in a nig...,2019,TV-MA,74,"['drama', 'history', 'crime']",['US'],1.0,tt7137906,8.9,114127.0,21.628,8.2
916,ts20110,Peaky Blinders,SHOW,"A gangster family epic set in 1919 Birmingham,...",2013,TV-MA,58,"['drama', 'crime', 'european']",['GB'],6.0,tt2442560,8.8,485506.0,971.727,8.6
1217,ts8,Better Call Saul,SHOW,Six years before Saul Goodman meets Walter Whi...,2015,TV-MA,49,"['comedy', 'drama', 'crime']",['US'],6.0,tt3032476,8.8,404920.0,352.657,8.5
1260,ts36631,Narcos,SHOW,A gritty chronicle of the war against Colombia...,2015,TV-MA,52,"['drama', 'thriller', 'crime']",['US'],3.0,tt2707408,8.8,404486.0,83.072,7.9
1828,ts55668,Dark,SHOW,A missing child causes four families to help e...,2017,TV-MA,56,"['scifi', 'crime', 'drama', 'thriller']",['DE'],3.0,tt5753856,8.7,354443.0,152.460,8.4
2849,ts84167,Age of Rebellion,SHOW,Campus bullying is a serious issue that every ...,2018,TV-MA,83,"['drama', 'romance', 'crime']",['TW'],1.0,tt8931836,8.6,49.0,3.856,6.0

In [72]:
# distibution of programs by the year they were released
programs_by_year = crime_netflix.groupby('release_year').count()['title']
programs_by_year = programs_by_year.sort_values(ascending=False)
programs_by_year.head(25)

release_year
2021    143
2019    122
2018    104
2020    100
2017     99
2016     51
2022     45
2015     30
2014     23
2013     20
2012     17
2011     16
2008     14
2007     11
2010     10
2009      9
2006      8
2005      7
2004      6
1993      5
2003      5
2001      4
1998      4
1995      3
2002      3
Name: title, dtype: int64

In [74]:
# check distribution of age ratings
crime_age_certif = crime_netflix.groupby('age_certification').count()['title']
crime_age_certif = crime_age_certif.sort_values(ascending=False)
crime_age_certif

age_certification
TV-MA    264
R        171
TV-14     64
PG-13     52
PG        23
NC-17      5
TV-PG      4
G          3
TV-Y       1
TV-Y7      1
Name: title, dtype: int64

In [42]:
# see how many crime programs are shows/movies
crime_type = crime_netflix.groupby('type').count()['title']
crime_type

type
MOVIE    524
SHOW     367
Name: title, dtype: int64

In [62]:
# the average rating
avg_rating_crime = crime_netflix['imdb_score'].mean()
print(f"{avg_rating_crime:.2f}")

6.68

In [61]:
# average runtime for a crime program
avg_runtime = crime_netflix['runtime'].mean()
print(f"Average runtime for a crime program is{avg_runtime : .0f} minutes and {avg_runtime%60 :.0f} seconds")

Average runtime for a crime program is 86 minutes and 26 seconds

In [76]:
# Top ten production countries for crime programs on netflix
crime_prod_locations = crime_netflix.groupby(['production_countries']).count()['title']
crime_prod_locations = crime_prod_locations.sort_values(ascending=False)
crime_prod_locations.head(20)

production_countries
['US']          269
['IN']          139
['GB']           42
['ES']           42
['KR']           36
['FR']           27
['JP']           19
['MX']           18
['DE']           14
['CA']           14
[]               13
['PL']           13
['BR']           12
['AR']           11
['CO']           11
['NG']            9
['TR']            9
['GB', 'US']      8
['TW']            8
['SE']            8
Name: title, dtype: int64